body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #121212;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23813ae3' fill-opacity='0.13'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: var(--clr-offwhite-10);
  * {
    box-sizing: border-box;
  }
}

:root {
  --clr-dark-0: #121212;
  --clr-dark-10: #1a1a1a;
  --clr-dark-20: #222222;
  --clr-dark-30: #2a2a2a;
  --clr-dark-40: #333333;
  --clr-offwhite-0: #f4f6f8;
  --clr-offwhite-10: #d9dde0;
  --clr-accent-teal-0: #00b597;
  --clr-accent-teal-10: #00a08f;
  --clr-accent-purple-0: #813ae3;
  --clr-accent-purple-10: #a174e0;
  --clr-accent-pink-0: #ff73b8;
  --clr-accent-pink-10: #ff91c2;
  --clr-accent-yellow-0: #f5c518;
  --clr-accent-yellow-10: #ffd54f;
  --clr-accent-orange-0: #ff9800;
  --clr-accent-orange-10: #ffc56d;
  --clr-accent-green-0: #5bb41b;
  --clr-accent-green-10: #65c41c;
  --box-shadow: 0.1px 0px 0.1px hsl(var(--shadow-color) / 0.36),
    0.7px -0.1px 0.8px -1px hsl(var(--shadow-color) / 0.41),
    2.8px -0.3px 3.4px -2px hsl(var(--shadow-color) / 0.46);
  --shadow-color: 0deg 0% 2%;
}
