---
import movies from "../content/movies.json";
import MovieCard from "../components/MovieCard.astro";
import Search from "../components/Search.astro";
---

<Search targetId="movie-grid" placeholder="Search movies..." />

<section id="movie-grid">
  {movies.map((movie) => <MovieCard movie={movie} key={movie.id} />)}
</section>

<style lang="scss"></style>
